<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>SOng added</h1>
<h2>Add more songs</h2>
<form action="/addSongs" method="post">
	
	<input type="text" name="songName" placeholder="Enter song title"><br><br>
	<input type="text" name="songArtist" placeholder="Enter song artist"><br><br>
	<input type="text" name="songGenre" placeholder="Enter song genre"><br><br>
	<input type="text" name="songLink" placeholder="Enter song link"><br><br>
	
	<input type="submit" value="ADD SONG">
</form> 
</body>
</html>