<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home Publisher</title>
</head>
<body>

<h1>Help Zamaana in bringing nostalgia</h1>

<h2>Add Songs</h2>
<form action="/addSongs" method="post">
	
	<input type="text" name="songName" placeholder="Enter song title"><br><br>
	<input type="text" name="songArtist" placeholder="Enter song artist"><br><br>
	<input type="text" name="songGenre" placeholder="Enter song genre"><br><br>
	<input type="text" name="songLink" placeholder="Enter song link"><br><br>
	
	<input type="submit" value="ADD SONG"><br><br>
</form> 

<a href="/viewSongs"><button>View Songs</button></a>
<a href="/createPlaylist"><button>Create Playlist</button></a>
<a href="/viewPlaylist"><button>View Playlists</button></a>
</body>
</html>