<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Landing page</title>
<link rel="stylesheet" href="/CSS/index.css">
</head>
<body>

<div class="container">

	<div class="navbar">
			<div class="navlogo">
					<div class="logo"></div>
			</div>
			<div class="navmenu">
		
					<div class="menus"><a href="/map-aboutLanding"id="menuLinks">About</a></div>
					<div class="menulogin"> <a href="/map-login"> <button class="menuloginbutton">Log In</button> </a> </div>
			</div>
	</div>
	
	<div class="content">
		
			<div class="intro">Step back in time and rediscover the golden era of music. 
			Join us to indulge in the timeless melodies of the 1950s to the 1970s, where every song tells a story.</div>
			<div class="landingbuttons">
			<a href="/map-register"><button id="regLandingButton">Join Us</button></a>
			</div>
	</div>

</div>

</body>
</html>




