<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LoginFail</title>
<link rel="stylesheet" href="/CSS/index.css">
</head>
<body>
<div class="container">

	<div class="navbar">
			<div class="navlogo">
					<div class="logo"></div>
			</div>
			<div class="navmenu">
		
					<div class="menus">About</div>
					
			</div>
	</div>
	
	<div class="content">

		<div class="logCard">
				<div class="regCardUpper">Step Inside
				</div>
				<div class="errorStrip">Bad Credentials</div>
				<div class="regCardLower">
							<form action="loginUser" method="post">
							
								
								<input type="email" placeholder="Enter your email id" name="email" id="textfields" required><br><br>
								
								<input type="password" placeholder="Enter a password" name="password" id="textfields" required><br><br>
								
							
								<input type="submit" value="Log In" id="registerSubmit">	
							</form>
				</div>			
			</div>
	</div>
</div>

</body>
</html>